

.btnSave {
  height: 30px;
  width: 100px;
  background-color: salmon;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 6px
}