@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.footerLogo {
  font-family: 'Pacifico', cursive;
  color: pink
}

.text {
  font-family: 'Fredoka One', cursive;
  margin-left: 10px
}

.powered {
  font-family: 'Fredoka One', cursive;
}

.buttonShare {
  background-color: #81eff7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.buttonShare:hover{
  background-color: '#a2f8fa'
}